.board-view {
    display: grid;
    /* justify-content: space-evenly; */
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.card-facedown {
    background-color: gray;
    color: white;
    content-visibility: hidden;
}

.card-found {
    background-color: green;
    color: white;
}

.card-selected {
    background-color: lightblue;
    color: black;
    content-visibility: hidden;
}

.card-visible {
    background-color: burlywood;
    color: black;
}

app-card {
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    margin-right: 16px;
    text-align: center;
}

app-card:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}